.profile-cont{
  width: 70%;
  margin: auto;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
}

.user-data {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-right: 2%;
  margin-right: 5%;
}

input{
  border: 1px solid #1da1f2;
  border-radius: 5px;
  margin-top: 2%;
  padding: 2%;
  text-align: left;
  width: 100%;
  background-color: white;
  text-shadow: 1px 1px 0 #FFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 20px;
  letter-spacing: -0.2px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  color: #1da1f2;
  font-weight: bold;
}

label{
  color: #14171a;
  text-shadow: 1px 1px 0 #FFF;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

  letter-spacing: -0.2px;
}

.user-photo {
  margin: auto;
}
img {
  width: 70%;
  border: 1px solid #1da1f2;
  border-radius: 5px;

}
